/*=================
MAIN style
==================*/
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    display: flex;
    flex-direction: column;
}

ul, li, a, section, div, p, img, h1, h2, h3, h4, h5, h6, span {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    min-height: 80px;
    background: #31353d;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    background: snow;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    width: 100%;
    height: 80px;
    background: #31353d;
}

/*=================
HEADER style
==================*/

header .hat {
}
header a {
    color: white;
}

.wrap-logo {
    height: 100%;
    width: 150px;
    background: #46b8da;
}

.logo img {
    height: 100%;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 700px;
}

.navigation {
    width: 100px;
    text-align: center;
    margin: auto;
    padding: 15px 5px;
}

.user {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 400px;
}

.client-info {
    width: 100px;
    text-align: center;
    margin: auto;
    padding: 15px 5px;
}

.head-item:hover {
    background-color: #46b8da;
    border-radius: 4px;
}

/*=================
MAIN style
==================*/

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.category {
    background: #46b8da;
}

.news {
    background: #5cb85c;

}

.latest-product {
    padding: 10px 5px 10px;

}

.ul-category {
    padding: 10px;
}

.m-new {
    display: none;
    position: absolute;
    top: -50px;
    width: 20%;
}
/*=================
FOOTER style
==================*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-block {
    color: white;
    padding: 10px;

}